---
import SEO from '../components/SEO.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} image={image} />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
